/* Add your CSS Below */

section.one > .box2 {
  position: relative;
  bottom: 15px;
  left: 15px;
}

section.two {
  position: relative;
}

section.two > .box3 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

section.three {
  position: relative;
}

section.three > .box1 {
  position: fixed;
  right: 133px;
  bottom: 70px;
}
